@import url("header.css");

@font-face {
  font-family: Lato;
  src: local('Lato'), local('Lato Regular'), local('Lato-regular'),
      url('fonts/lato-regular.woff'),
      url('fonts/lato-regular.woff2');
  font-weight: 400;
  font-display: swap; 
}


@font-face {
  font-family: Lato;
  src: local('Lato Bold'), local('Lato-Bold'),
      url('fonts/lato-bold.woff'),
      url('fonts/lato-bold.woff2');
  font-weight: 700;
  font-display: swap; 
}

html {
  position: relative;
  box-sizing: border-box;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Lato;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

input {
  border: none;
}

a {  
  color: inherit;
  cursor: pointer;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1830px;
  padding: 0 30px;
  margin: 0 auto;
}


.block__foto {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.percent {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #FFBD13;
  padding: 24px 9px;
  font-size: 30px;
  line-height: 130%;
}

.main-block {
  padding-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 480px 550px 550px;
  gap: 60px;
  grid-template-areas: 
    "block1 block1 block1"
    "block2 block3 block4"
    "block5 block5 block6"
  ;
}

.main-block__item-01 {
  grid-area: block1;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.main-block__item-02 {
  grid-area: block2;
}

.main-block__item-03 {
  grid-area: block3;
  display: grid;
  
}

.main-block__item-04 {
  grid-area: block4;
}

.main-block__item-05 {
  grid-area: block5;
}

.main-block__item-06 {
  grid-area: block6;
}

.block__foto-01 {
  grid-column: 1/2;
  grid-row: 1/4;
}

.main-block__text-01 {
  
  padding-left: 6%;
  font-weight: 700;
  font-size: 70px;
  line-height: 130%;
  color:#FFFFFF;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
}

.main-block__text-02 {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color:#FFFFFF;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: end;
  justify-self: center;
}

.main-block__timer {
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
 

  color:#FFFFFF;
}

.first-block {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:245px 245px;
  gap: 60px;
  grid-template-areas: 
    "block11 block12"
    "block13 block13";
    color:#FFFFFF;

}

.first-block__item-01 {
  grid-area: block11;
  
  display: grid;
}

.first-block__item-02 {
  grid-area: block12;
  display: grid;
  grid-template-rows: 1fr 1fr;
  
}

.first-block__item-03 {
  grid-area: block13;
  display: grid;
}

.block__foto-02 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.text__container {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  padding-left: 8%;
  padding-bottom: 8%;
}

.first-block__text-01 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
}

.first-block__text-11 {
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
}

.block__foto-03 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.first-block__text-02 {
  padding-left: 5%;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  justify-self: start;
  font-size: 30px;
    line-height: 130%;
}

.first-block__percent-02 {
  margin-bottom: 8%;
  margin-right: 8%;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
 }

 .block__foto-04 {
  grid-column: 1/2;
  grid-row: 1/2;
 }

.first-block__percent-03 {
  margin-left: 4%;
  margin-top: 4%;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: start;
  justify-self: start;
}

.block__foto-05 {
  grid-column: 1/2;
  grid-row: 1/2;
  object-position: left;
}

.main-block__text-03 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
  padding: 26px 24px;
  border-radius: 20px;
  background-color: #38C0EB;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.second-block {
  display: grid;
  grid-template-rows: 245px 245px;
  gap: 60px;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
}

.second-block__item-01 {
  display: grid;
  
}

.block__foto-06 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.second-block__text-01 {
  margin-left: 5%;
  margin-bottom: 5%;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: end;
  width: 340px;
 
}

.second-block__item-02 {
  display: grid;
}

.block__foto-07 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.second-block__text-02 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  justify-self: start;
  padding-bottom: 12%;
  padding-left: 4%;
  
}

.second-block__percent-02 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  justify-self: end;
  margin-bottom: 7%;
  margin-right: 4%;
}

.main-block__item-05 {
  display: grid;
}

.block__foto-08 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.main-block__text-05 {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 5%;
  margin-left: 4%;
  align-self: end;
  justify-self: start;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #F91155;
  padding: 32px 42px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.third-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 245px 245px;
  gap: 60px;
  grid-template-areas: 
  "block31 block32"
  "block31 block33";
  color: #FFFFFF;
}

.third-block__item-01 {
  grid-area: block31;
  display: grid;
}

.third-block__item-02 {
  grid-area: block32;
  display: grid;
}

.third-block__item-03 {
  grid-area: block33;
}

.block__foto-09 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.third-block__percent-01 {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: end;
  justify-self: end;
  margin-bottom: 4%;
  margin-right: 8%;
 
}

.block__foto-10 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.third-block__text {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  justify-self: start;
  padding-bottom: 8%;
  padding-left: 8%;
  font-size: 30px;
  line-height: 130%;
}

.third-block__percent-02 {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: start;
  justify-self: start;
  margin-top: 8%;
  margin-left: 8%;
}

@media (max-width:1600px) {
  .first-block {
    gap: 40px;
  }

  .main-block {
    grid-template-rows: 480px 530px 530px;
    gap: 40px;
  }

  .second-block {
    gap: 40px;
  }

  .third-block {
    gap: 40px;
  }

  .third-block__item-01 {
    gap: 40px;
  }


}

@media (max-width:1300px) {

  .container {
    max-width: 1000px;
  }

  .block__foto {
    border-radius: 16px;
  }

  .main-block {
    
    grid-template-columns: 458px 458px;
    grid-template-rows: 314px 458px 458px 418px;
    gap: 24px;
    grid-template-areas: 
      "block1 block1"
      "block2 block3"
      "block4 block6"
      "block5 block5"
    ;
  }

  .first-block {
    
    grid-template-columns: 217px 217px;
    grid-template-rows:217px 217px;
    gap: 24px;
  }

  .second-block {
    grid-template-columns: 458px;
    grid-template-rows: 217px 217px;
    gap: 24px;
  }

  .third-block {
    
    grid-template-columns: 217px 217px;
    grid-template-rows:217px 217px;
    gap: 24px;
  }
 
  .third-block__item-01 {
    grid-template-rows:217px 217px;
  gap: 24px;    
    
  }

  .main-block__text-01 {
    font-size: 40px;
  }

  .main-block__timer {
    font-size: 40px;
  }

  .first-block__text-01 {
    font-size: 30px;
  }

  .first-block__text-11 {
    font-size: 24px;
  }
  
  .first-block__text-02 {
    font-size: 24px;
  }
    
  .main-block__text-03 {
    padding: 29px 25px;
    font-size: 30px;
  }
  
  .second-block {
    font-size: 30px;
  }
 
  .second-block__text-01 {
    width: 251px;
  }
    
  .main-block__text-05 {
    font-size: 30px;
    padding: 24px 47px;
  }
 
  .third-block__text {
    font-size: 20px;
  }
 
}

@media (max-width:768px) {
  .container {
    max-width: 760px;
  }

  
  .block__foto {
    border-radius: 12px;
   }

  .percent {
    width: 50px;
    height: 50px;
    padding: 15px 6px;
    font-size: 16px;
  }

  .main-block {
    grid-template-columns: 300px 380px;
    grid-template-rows: 280px 380px 300px 337px;
 
    gap: 20px;
   }

  .first-block {
    
    grid-template-columns: 140px 140px;
    grid-template-rows:140px 140px;
    gap: 20px;
  }

  .second-block {
    grid-template-columns: 300px;
    grid-template-rows: 140px 140px;
    gap: 20px;
  }

  .third-block {
    
    grid-template-columns: 220px 140px;
    grid-template-rows:140px 60px;
    gap: 20px;
  }
  
  .third-block__item-01 {
      grid-template-rows:140px 60px;
   }

  .block__foto-09 {
    object-position: 25% 5%;
   }

  .main-block__item-04 {
    margin-top: -80px;
  }

  .main-block__item-05 {
    margin-top: -80px;
  }
  
  .main-block__text-01 {
    font-size: 30px;
    align-self: center;
  }

  .main-block__text-02 {
    font-size: 12px;
  }
  
  .main-block__timer {
    font-size: 30px;
  
  }

  .first-block__text-01 {
    font-size: 26px;
    line-height: 110%;
    
  }

  .first-block__text-11 {
    font-size: 20px;
    line-height: 110%;
  }
  
  .first-block__text-02 {
      font-size: 16px;
  }
    
  .main-block__text-03 {
    border-radius: 12px;
    padding: 16px 28px;
    font-size: 16px;
   }
  
  .second-block {
    font-size: 16px;
    line-height: 120%;
  }
  
 
  .second-block__text-01 {
    width: 136px;
    }
    
  .main-block__text-05 {
    border-radius: 12px;
    font-size: 20px;
    line-height: 120%;
    padding: 22px 34px;
  }
  
  .third-block__text {
    font-size: 16px;
    line-height: 120%;
  }

}

@media (max-width: 320px){
  .container {
    max-width: 320px;
    padding: 0 20px;
  }

  
  .block__foto {
    border-radius: 8px;
   }

  .main-block {
    
    grid-template-columns: 280px;
    grid-template-rows: 340px 268px 280px 256px 280px 123px;
    gap: 20px;
    grid-template-areas: 
      "block1"
      "block2"
      "block3"
      "block4"
      "block6"
      "block5"
      ;
   }

  .first-block {
    
    grid-template-columns: 130px 130px;
    grid-template-rows:130px 118px;
    gap: 20px;
  }

  .second-block {
    grid-template-columns: 280px;
    grid-template-rows: 118px 118px;
    gap: 20px;
  }

  .third-block {
    grid-template-columns: 130px 130px;
    grid-template-rows:130px 130px;
    gap: 20px;
  }

  .third-block__item-01{
    grid-template-rows:130px 130px;
    gap: 20px;
  }

  .main-block__item-04 {
    margin-top: 0;
  }

  .main-block__item-05 {
    margin-top: 0;
  }
  
  .main-block__text-01 {
    font-size: 22px;
  }

  .main-block__text-02 {
    font-size: 8px;
    
  }
  
  .main-block__timer {
    font-size: 20px;
   
  }

  .first-block__text-01 {
    font-size: 16px;
   }

  .first-block__text-11 {
    width: 65px;
    font-size: 12px;
    
  }
  
  .first-block__text-02 {
    font-size: 12px;
  }

  .main-block__text-03 {
    border-radius: 8px;
    padding: 9px 25px;
    font-size: 12px;
  }
  
  .second-block {
    font-size: 12px;
  }
     
  .main-block__text-05 {
    border-radius: 8px;
    font-size: 12px;
    padding: 7px 41px;
  }
 
  .third-block__text {
    font-size: 12px;
    
  }
}
